pip==19.2.3
bump2version==0.5.11
wheel==0.33.6
flake8==6.1.0
tox==4.11.4
coverage==7.2.2
Sphinx==5.0.2
twine==4.0.2
{% if cookiecutter.command_line_interface|lower == 'click' -%}
Click==7.1.2{% endif %}
{% if cookiecutter.use_pytest == 'y' -%}
pytest==7.4.0{% endif %}
{% if cookiecutter.use_openpyxl == 'y' -%}
openpyxl==3.0.10{% endif %}
{% if cookiecutter.use_xlwings == 'y' -%}
xlwings==0.29.1{% endif %}
{% if cookiecutter.use_xlsxwriter == 'y' -%}
xlsxwriter==3.1.1{% endif %}
{% if cookiecutter.use_black == 'y' -%}
black==23.11.0{% endif %}
{% if cookiecutter.use_watchdog == 'y' -%}
watchdog==2.1.6{% endif %}
